.login_form
  - if (session[:user_id])
    %li= link_to t(:logout), logout_url
  - else
    = form_tag sessions_path do
      %table
        %tr
          %td= label_tag t(:email)
          %td= text_field_tag :email, params[:email], :size => "30",:placeholder => t(:email), :autofocus => true, :required => true, :id => 'email'
        %tr
          %td= label_tag t(:password)
          %td= password_field_tag :password, params[:password], :placeholder => t(:password), :required => true, :id => 'password'
        %tr
          %td
          %td
            .actions
              = submit_tag t(:login), id: 'login' 
        %tr
          %td
          %td       
            = link_to t(:forgot_password?),new_password_reset_path, :remote => true