.login_form
  - if (session[:user_id])
    %li= link_to 'abmelden', logout_url
  - else
    = form_tag sessions_path do
      %table
        %tr
          %td= label_tag 'Name'
          %td= text_field_tag :name, params[:name], :size => "30",:placeholder => "Name", :autofocus => true, :required => true, :id => 'name'
        %tr
          %td= label_tag 'Passwort'
          %td= password_field_tag :password, params[:password], :placeholder => "Passwort", :required => true, :id => 'password'
        %tr
          %td
          %td
            .actions
              = submit_tag "Anmelden", id: 'login' 
        %tr
          %td
          %td       
            = link_to "Passwort vergessen?",new_password_reset_path, :remote => true