.login_form
  - if (session[:user_id])
    %li= link_to 'abmelden', logout_url
  - else
    = form_tag sessions_path do
      %table
        %tr
          %td= label_tag 'Name'
          %td= text_field_tag :name, params[:name], :size => "30",:placeholder => "Name"
        %tr
          %td= label_tag 'Passwort'
          %td= password_field_tag :password
        %tr
          %td{ :colspan => 2 }
            .actions
              = submit_tag "Anmelden", id: 'login'  
= link_to "Passwort vergessen?", new_password_reset_path