%html
  %head
    %noscript
      :css
        table { width: 80% }
        th, .total { background: #ddd }
        th, td { padding: 0 10px }
        .quantity { text-align: center }
        .title { text-align: left }
        .price { text-align: right }
        .total, .postage { text-align: right; font-weight: bold }
        .postage { background: #eee }
  %body
    %p
      Hallo 
      = @order.first_name

    %p
      vielen Dank für Deine Bestellung. Hier findest Du noch einmal eine Liste der bestellten Produkte.

    %table
      %tr
        %th Anzahl
        %th Produkt
        %th Preis 
      - @order.line_items.each do |item| 
        %tr
          %td.quantity= item.quantity.to_s 
          %td.title= item.product.title
          %td.price= number_to_currency(item.total_price, :unit => "&euro;", :separator => ",", :delimiter => "", :format => "%n %u", :strip_insignificant_zeros => true)
      %tr
        %td.postage
        %td.postage PORTO
        %td.postage= number_to_currency(@order.postage_price(@order.total_price), :unit => "&euro;", :separator => ",", :delimiter => "", :format => "%n %u", :strip_insignificant_zeros => true)  
      %tr
        %td.total
        %td.total TOTAL
        %td.total= number_to_currency(@order.total_price, :unit => "&euro;", :separator => ",", :delimiter => "", :format => "%n %u", :strip_insignificant_zeros => true)
    - if @order.pay_type == "Vorkasse"
      %p Sie haben Vorkasse als ihre gewünschte Behahlart ausgewählt.
      %p Unsere Bankverbindung
    - if @order.pay_type == "Nachnahme"
      %p Die Ware wird Ihnen per Nachnahme zugestellt.
    %p 
      Die Versandadresse lautet (bitte kontrollieren!):
      %br
      = @order.first_name + ' ' + @order.last_name
      %br
      = @order.street
      %br
      = @order.zip.to_s + ' ' + @order.city
      %br
      = @order.country

      
    %p Sollten noch Fragen bezüglich der Bestellung oder der Bezahlung bestehen, so stehen wir Dir selbstverständlich gerne telefonisch unter 0xxx - 1500030 oder auch per email zur Verfügung.

    %p Mit freundlichen Grüßen,

    %p Dein BERNER-Bikes.com Team