%section#partners.index
  %h1.page_title= @title

  %table
    %tr
      %th Title
      %th Image
      %th
      %th
      %th

    - @partners.each do |partner|
      %tr
        %td= partner.title
        %td= image_tag partner.image
        %td= link_to t(:edit), edit_partner_path(partner)
        %td= link_to t(:delete), partner, :confirm => t(:are_you_sure?), :method => :delete
  .actions
    = button_to t(:new_partner), new_partner_path, :method => :get
