%section#partners.index
  %h1.page_title= @title

  %table
    %tr
      %th Title
      %th Image
      %th
      %th
      %th

    - @partners.each do |partner|
      %tr
        %td= partner.title
        %td= image_tag partner.image
        %td= link_to 'bearbeiten', edit_partner_path(partner)
        %td= link_to 'löschen', partner, :confirm => 'Sind Sie sicher?', :method => :delete
  .actions
    = button_to 'Neuer Partner', new_partner_path, :method => :get
