#admin
  %span.admin_link= link_to 'neues Produkt', new_product_path
  %span.admin_link= link_to 'neue Kategorie', new_category_path
  %span.admin_link= link_to 'Benutzer'
  %span.admin_link= link_to 'Bilder'
  .admin_link.logout= link_to 'ausloggen'    



