- if session[:user_id] 
  #admin
    %span.admin_link= link_to 'Bestellungen', orders_path
    %span.admin_link= link_to 'Benutzer', users_path
    %span.admin_link= link_to 'Produkte', products_path
    %span.admin_link= link_to 'News', news_items_path
    %span.admin_link= link_to 'Partner', partners_path
    
    .admin_link.logout= link_to 'ausloggen', logout_path    



