%section#quicklinks
  %h1 QUICKLINKS
  - if ($categories != nil)
    - $categories.each do |category|
      .category
        = link_to category.title, category
        %ul
          - ($products.where(:category => category.title)).each do |product|
            %li=link_to product.title, product
  .category
    = link_to 'BERNER-Bikes.com'
    %ul
      %li= link_to 'Impressum', impressum_path
      %li= link_to 'AGB'
      %li= link_to 'login', login_path, :remote => true