.form
  = form_for @user do |f|
    -if @user.errors.any?
      #error_explanation
        %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg

    %table
      %tr
        %td= f.label :name, "Name"
        %td{ :colspan => 2 }= f.text_field :name
      %tr
        %td= f.label :email, "EMail"
        %td{ :colspan => 2 }= f.text_field :email

      %tr
        %td= f.label :role, "Rolle"
        %td{ :colspan => 2 }= f.select :role, User::ROLES
      %tr
        %td= f.label :password, "Passwort"
        %td= f.password_field :password
        %td (6-20 Zeichen)
      %tr
        %td= f.label :password_confirmation, "Passwort wiederholen"
        %td{ :colspan => 2 }= f.password_field :password_confirmation
      %tr
        .actions
          %td{ :colspan => 3 }
            = f.submit 'Speichern'
