%section#user.index 
  %h1.page_title
    = @title
  %table
    %tr
      %th Name
      %th Rolle
      %th
      %th

    - @users.each do |user|
      %tr
        %td= link_to user.name, user
        %td= user.role
        %td= link_to 'bearbeiten', edit_user_path(user)
        %td= link_to 'löschen', user, :confirm => 'Are you sure?', :method => :delete
  .actions
    = button_to 'neuer Benutzer', new_user_path, :method => :get


