#user.user_index 
  %h1.page_title
    = @title
    .add= link_to '+', new_user_path

  %table
    %tr
      %th Name
      %th Rolle
      %th
      %th

    - @users.each do |user|
      %tr
        %td= link_to user.name, user
        %td= user.role
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete


