%section#user.index 
  %h1.page_title
    = @title
  %table
    %tr
      %th Name
      %th Rolle
      %th
      %th

    - @users.each do |user|
      %tr
        %td= link_to user.name, user
        %td= user.role
        %td= link_to t(:edit), edit_user_path(user)
        %td= link_to t(:delete), user, :confirm => t(:are_you_sure?), :method => :delete
  .actions
    = button_to t(:new_user), new_user_path, :method => :get


