%section#item_list.index
  %table
    %tr
      %th= t(:quantity)
      %th= t(:product)
      %th= t(:options)
      %th.item_price= t(:item_price)
      %th.total_item_price= t(:total_item_price)
    - item_source.line_items.each do |item|
      %tr
        %td
          = form_for item do |f|
            = f.text_field :quantity, :size => 2, :onchange => 'this.form.submit();' 
        %td= item.product.title
        %td
          - if (item.options != nil)
            - item.options.each do |key, value|
              = key + ": "
              = value
              %br
        %td.item_price= euro_price(item.product.price)
        %td.total_item_price= euro_price(item.total_price)
    %tr.postage
      %td.postage{:colspan => '4'}= t(:postage)
      %td.postage_price
        = euro_price(@order.postage_price(item_source.total_price))        
    %tr.total_line
      %td.total{:colspan => '4'}= t(:total)
      %td.total_price= euro_price(item_source.total_price + @order.postage_price(item_source.total_price))