.items
  %table
    %tr
      %th Anzahl
      %th Produkt
      %th Optionen
      %th.item_price Einzelpreis
      %th.total_item_price Preis
    - item_source.line_items.each do |item|
      %tr
        %td= item.quantity
        %td= item.product.title
        %td
        %td.item_price= number_to_currency(item.product.price)
        %td.total_item_price= number_to_currency(item.total_price)
    %tr.total_line
      %td.total{:colspan => '4'} TOTAL
      %td.total_price= number_to_currency(@cart.total_price)