%section#orders.index
  %h1.page_title= @title

  %table
    %tr
      %th Datum
      %th Name
      %th Adresse

      %th Email
      %th Pay type
      %th Artikelanzahl
      %th Status
      %th
      %th
      %th

    - @orders.each do |order|
      %tr
        %td
          = order.created_at.strftime("%d.%m.%Y %H:%M") + ' / ' + order.updated_at.strftime("%d-%m %H:%M") 
        %td
          = link_to (order.first_name + ' ' + order.last_name), order
        %td
          = order.first_name + ' ' + order.last_name
          %br
          = order.street
          %br
          = order.zip.to_s + ' ' + order.city 
          %br
          %br
          = order.country
        %td= mail_to order.email, order.email, :subject => "Ihre Bestellung bei www.BERNER-Bikes.com"
        %td= order.pay_type
        %td= order.total_line_items_number 
        %td 
          = form_for order do |f|
            = f.select :status, Order::STATUS_TYPES, {}, {:onChange => 'this.form.submit();' }
        %td= link_to 'Bearbeiten', edit_order_path(order)
        %td= link_to 'Löschen', order, :confirm => 'Are you sure?', :method => :delete
  .actions