%section#order.index
  %h1.page_title= @title
  
  = render 'item_list', :item_source => @order
  
  %h1.page_title= t(:customer_data)
  
  %table 
    %tr
      %td= t(:name)
      %td= @order.first_name + ' ' + @order.last_name
    %tr
      %td= t(:address)
      %td 
        = @order.street
        %br
        = @order.zip.to_s + ' ' + @order.city
        %br
        = @order.country
      %tr
        %td= t(:email)
        %td= @order.email
      %tr
        %td= t(:payment_type) + ':'
        %td= @order.pay_type
  .actions
    = form_for @order do |f|
      = f.submit t(:change_status)
      = f.select :status, Order::STATUS_TYPES
     
