%section#news_items.index
  %h1.page_title= @title
  %table
    %tr
      %th= t(:title)
      %th= t(:published?)
      %th= t(:content)
      %th= t(:image)
      %th
      %th

    - @news_items.each do |news_item|
      %tr
        %td= link_to news_item.title, news_item
        %td
          - if (news_item.published) 
            Ja
          - else 
            Nein
        %td= news_item.content
        %td= image_tag news_item.image(:thumb)
        %td= link_to t(:edit), edit_news_item_path(news_item)
        %td= link_to t(:delete), news_item, :confirm => t(:are_you_sure?), :method => :delete
  .actions
    = button_to t(:new_news_item), new_news_item_path, :method => :get