.cart_link= link_to short_cart_content, new_order_path
.cart
  %table
    = render(cart.line_items)
   
    %tr.total_line
      %td{:colspan => '2'} TOTAL
      %td.total_price= number_to_currency(cart.total_price, :locale => :de)
        
  = button_to "Warenkorb leeren", cart, :method => :delete, :confirm => "are you sure?"
  = button_to "Zur Kasse", new_order_path, :id => "place_order", :method => :get
