.cart_link= link_to short_cart_content, new_order_path
.cart
  %table
    = render(cart.line_items)
   
    %tr.total_line
      %td{:colspan => '2'}= t(:total)
      %td.total_price= euro_price(cart.total_price)
        
  = button_to t(:empty_cart), cart, :method => :delete, :confirm => "are you sure?"
  = button_to t(:place_order), new_order_path, :id => "place_order", :method => :get
