%section#brands.index
  %h1.page_title= @title

  %table
    %tr
      %th Title
      %th Image
      %th
      %th

    - @brands.each do |brand|
      %tr
        %td= brand.title
        %td= image_tag brand.image(:tile)
        %td= link_to t(:edit), edit_brand_path(brand)
        %td= link_to t(:delete), brand, :confirm => t(:are_you_sure?), :method => :delete
  .actions
    = button_to t(:new_brand), new_brand_path, :method => :get