#category.category
  %h1.page_title Alle Kategorien
  %table
    %tr
      %th Titel
      %th Beschreibung
      %th
      %th
    - @categories.each do |category|
      %tr
        %td= link_to category.title, category
        %td= category.description
        %td= link_to 'bearbeiten', edit_category_path(category)
        %td= link_to 'löschen', category, :confirm => 'Are you sure?', :method => :delete
  .actions
    = button_to 'neue Kategorie', new_category_path, :method => :get