#category.category
  %h1.page_title= @title
  %table
    %tr
      %th= t(:title)
      %th= t(:description)
      %th
      %th
    - @categories.each do |category|
      %tr
        %td= link_to category.title, category
        %td= category.description
        %td= link_to t(:edit), edit_category_path(category)
        %td= link_to t(:delete), category, :confirm => t(:are_you_sure?), :method => :delete
  .actions
    = button_to t(:new_category), new_category_path, :method => :get