.form
  = form_for @product do |f|
    -if @product.errors.any?
      #error_explanation
        %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
        %ul
          - @product.errors.full_messages.each do |msg|
            %li= msg

    %table
      %tr
        %td= f.label :title, 'Name'
        %td= f.text_field :title, { :size => 40 }
      %tr
        %td=f.label :description, 'Beschreibung'
        %td= f.text_area :description, {:rows => 5, :cols => 60 }
      %tr
        %td= f.label :category, 'Kategorie'
        %td=f.select(:category, Category.all.collect{ |c| [c.title]})
      %tr 
        %td= f.label :price, 'Preis'
        %td
          = f.text_field :price, { :size => 6 }
          €
      %tr
        %td= f.label :image, 'Bild'
        %td= f.file_field :image
      %tr
        %td{:colspan => 2}
          .actions
            = f.submit 'Speichern'
