.fields
  .label= f.label :name, "Option"
  = f.text_field :name, { :size => 20 } 
  = link_to_remove_fields "löschen", f
  %br 
  = f.fields_for :values do |builder|
    = render 'value_fields', :f => builder
  .new_value=link_to_add_fields "neuer Wert", f, :values