.fields
  .label= f.label :name, "Option"
  .field= f.text_field :name
  .label= f.label :values, "mögliche Werte"
  .field= f.text_area :values, {:rows => 5, :cols => 25 }
  = link_to_remove_fields "löschen", f
