.fields
  %table
    %tr{ :style => 'background: none' }
      %td
        .label= f.label :image, t(:image)
      %td
        .field
          = f.file_field :image
      %td
        .label= f.label :title_image, t(:title_image?)
      %td
        .field= f.check_box :title_image  
      %td
        .css_button= link_to_remove_fields t(:delete), f
