%section#product.index
  %h1.page_title= @title
  .sub_header_links
    Anzeigen:
    = link_to t(:all_categories), products_path
    - @categories.each do |category|
      = link_to category.title, :view => category.title
  %table
    %tr
      %th= t(:name)
      %th= t(:category)
      %th= t(:price)
      %th= t(:image)
      %th= t(:order_of_items)
      %th 
      %th
    - @products.each do |product|
      %tr
        %td
          = link_to product.title, product
        %td
          = product.category
        %td
          = product.price
        %td
          - product.product_images.take(1).each do |product_image|
            = link_to (image_tag product_image.image(:thumb)), product
        %td 
          = form_for product do |f|
            = f.select :list_order, Product::LIST_ORDER_VALUES, {}, {:onChange => 'this.form.submit();' }
        %td
          - if can? :update, product
            = link_to t(:edit), edit_product_path(product)
        %td
          - if can? :destroy, product
            = link_to t(:delete), product, :confirm => t(:are_you_sure?), :method => :delete
  .actions
    = button_to t(:new_product), new_product_path, :method => :get
