%section#product.index
  %h1.page_title= @title
  %table
    %tr
      %th Name
      %th Bild
      %th Reihenfolge
      %th 
      %th
    - @products.each do |product|
      %tr
        %td
          = link_to product.title, product
        %td
          - product.product_images.take(1).each do |product_image|
            = link_to (image_tag product_image.image(:thumb)), product
        %td 
          = form_for product do |f|
            = f.select :list_order, Product::LIST_ORDER_VALUES, {}, {:onChange => 'this.form.submit();' }
        %td
          - if can? :update, product
            = link_to 'bearbeiten', edit_product_path(product)
        %td
          - if can? :destroy, product
            = link_to 'löschen', product, :confirm => 'Sicher?', :method => :delete
  .actions
    = button_to 'neues Produkt', new_product_path, :method => :get
