#product
  .full_image= image_tag @product.image(:full)
  %p#notice= notice
  .content_box
    - if can? :update, @product
      .edit= link_to '=', edit_product_path(@product)
    - if can? :destroy, @product
      .destroy= link_to 'X', @product, :confirm => 'Are you sure?', :method => :delete
    %h1= @product.title
    %p= @product.description
    %p
      - @product.options.each do |option|
        %p 
          Option: 
          = option.name
    .add_to_cart= button_to 'kaufen', line_items_path(:product_id => @product), :remote => true
    .price= number_to_currency(@product.price)