%section#product
  #product_show
    .inner
      - if title_image = @product.product_images.where(:title_image => true).take(1)
        .full_image
          - title_image.each do |title_image|
            = link_to (image_tag title_image.image(:product)), { :action => "product_pop_image", :id => @product, :image_id => title_image.id }, :remote => true
      - if @product.product_images.count > 1
        .thumbs
          .thumbs_inner
            .image
              - @product.product_images.where(:title_image => false).take(4).each do |product_image|
                = link_to (image_tag product_image.image(:thumb)), { :action => "product_pop_image", :id => @product, :image_id => product_image.id }, :remote => true
    #product_show_description
      - if can? :update, @product
        .edit= link_to '=', edit_product_path(@product)
      - if can? :destroy, @product
        .destroy= link_to 'X', @product, :confirm => 'Are you sure?', :method => :delete
      %h1= @product.title
      %p= @product.description
      = form_for @line_item, :remote => true do |f| 
        = hidden_field_tag "product_id", @product.id
        - @product.options.each do |o|
          .field= select_tag o.name, options_for_select(o.values.split("\r\n")), :selected => params[:pid], :prompt => o.name
        .actions
          = f.submit 'kaufen', id: 'buy'
      .price= euro_price(@product.price)
  .pop_image
