#product
  .full_image= image_tag @product.image(:full)
  = render 'image-boxes'
  %p#notice= notice
  #description
    .edit_link= link_to 'Edit', edit_product_path(@product)
    %h1= @product.title
    %p= @product.description
    .price= @product.price