!!!
%html
%head
  %title= title
  %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}/
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body
  = render 'partials/admin'
  #wrap
    = render 'partials/menu'
    = yield
    #links
      = render 'partners/partners' 
      = render 'partials/quicklinks'
    = render 'partials/footer'
    = render 'partials/image'    
    = render 'partials/notice'
    = debug(params) if Rails.env.development?